
@{
    ViewData["Title"] = "Welcome";
}


<div class="container">
    <div class="panel">
        <h3>Welcome to the page !</h3>
        <p>@ViewData["Message"]</p>
        <p>
            Thanks for login Recaptcha varified.
        </p>
    </div>
</div>

